{% extends 'base.html.twig' %}

{% block title %}Add New Category{% endblock %}

{% block body %}
<div class="main-wrapper">
    <h1>Dodaj nową kategorię &#127381;</h1>

    <form action="{{ path('app_category_new') }}" method="post">
        <div>
            <label for="name">Nazwa Kategorii:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <button type="submit">Dodaj Kategorię</button>
    </form>

    <a href="{{ path('app_category_list') }}">Wróć do listy</a>
</div>
{% endblock %}
